.light-box-around {
  margin-top: 30px;
  margin-bottom: 6px;
  text-align: center;
}

.container-booking-requests {
  width: 1000px;
  margin: auto;
}

.light-box-around p {
  border: 0.5px $gray solid;
  width: 150px;
  border-radius: 5px;
  padding: 6px 16px;
  font-weight: lighter;
}

.booking-card {
  display: flex;
  justify-content: space-around;
  align-items: top;
  margin-bottom: 16px;
  width: 950px;
}

.booking-picture {
  margin-right: 32px;
}

.booking-title p {
  margin-bottom: 3px;
}

.booking-title {
  margin-right: 32px;
}

.booking-price-location {
   margin-right: 32px;
}

.booking-price-location p {
  margin-bottom: 3px;
}

.booking-dates {
   margin-right: 32px;
   max-width: 200px;
}

.booking-dates p {
  margin-bottom: 0px;
  max-width: 150px;
}

.button-accept {
  max-width: 100px;
}

.button-reject{
  margin-right: 6px;
  max-width: 100px;
}

.button-accept:hover {
}

.btn.button-warning:hover {
}

.location-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  display: inline-block;
}


