// Import page-specific CSS files here.
@import "home";

.main-container {
  margin: 0px;
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  padding: 0px;
}

.map-container {
  background-image: url("fakemap.png");
  width: 800px;
  height: 100vh;
  position: sticky;
  top: 0;
  background-size: auto 100%;
}

.card-container {
  width: 1200px;
  flex-grow:1;
}

.garden-card {
  display: flex;
}

.garden-img {
  width: 300px;
  height: 200px;
  img {
    border-radius: 4px;
  }
}

.garden-title p {
  font-size: 20px;
}

.garden-amenities {
  color: #C0C0C0;
}
