@import "index";

.container-first {
  background-color: yellow;
  padding: 0px 100px;
  margin: 10px 60px;
}

.card-title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.show-image {
  border-radius: 24px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 20px;
}

.garden-info {
  // justify-content: space-between;
  width: 70%;
}

.garden-amenities {
justify-content: space-between;
}

.btn {
  background-color: $green;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.garden-infos {
  display: flex;
  margin-top: 10px;
  margin-bottom: 100px;
}

.garden-booking {
  width: 30%;
  h2{
    text-align: center;
  }
}

.location {
  color: #5f6368;
}

.garden-amenities {
  color: #5f6368;
}

.list-inline {
  padding: 20px;
}
