<div class="footer">
  <div class="col-md-4">
    <div class="footer-links justify-content-center">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>

  <div class="col-md-4 text-center">
     <p>© Get Your Garden Inc.</p>
  </div>

  <div class="col-md-4 text-left ml-5">
    <div class="footer-copyright">
    <p>About us</p>
    <p>Company Details</p>
    <p>info@get-your-garden.com</p>
  </div>
  </div>
</div>
</div>
