<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://media04.meinbezirk.at/article/2018/03/13/1/11846921_XL.jpg?1564527131');">
  <div class='container'>
    <h1>Book<strong> a garden</strong> <strong>online</strong>!</h1>
    <p>Spend an amazing day with your friends in top gardens around you.</p>
    <a class='btn btn-success' href='#'>Get your garden</a>
  </div>
</div>

