<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'Garden.jpg'%>')">
  <div class='container'>
    <h1>Book<strong> gardens</strong> <strong>online</strong></h1>
    <p>Spend an amazing time with your friends in beautiful gardens around you.</p>
    <h1>Where do you want to chill?</h1>
      <%= form_with url: '/gardens', method: :get, local: true do |f| %>
      <%= f.text_field :q, id: :q, class: 'form-control' %>
      <%= f.submit "Book your garden now", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

