<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'Garden.jpg'%>')">
  <div class='container'>
    <h1>Book<strong> gardens</strong> <strong>online</strong></h1>
    <p>Spend an amazing time with your friends in beautiful gardens around you.</p>
    <a class='btn btn-success' href='#'>Book a garden</a>
  </div>
</div>

