<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'Garden.jpg'%>')">
  <div class='container'>
    <h1>Book<strong> gardens</strong> <strong>online</strong></h1>
    <p>Spend an amazing time with your friends in beautiful gardens around you.</p>
    <br>
    <p class="no-spacing lighter"><strong>Where do you want to chill?</strong></p>
      <%= form_with url: '/gardens', method: :get, local: true do |f| %>
      <%= f.text_field :q, id: :q, class: "form-home", placeholder: "Sidney" %>
      <%= f.submit "Book a Garden", class: 'btn btn-success btn-search-form' %>
    <% end %>
  </div>
</div>

