<div class = "container main-container">
  <div class = "card-container">
    <div class="row mx-4 my-3">
      <h2>We found 100 gardens</h2>
    </div>
    <% @gardens.each do |garden| %>
    <div class = "row mx-3 py-4 border-top">
      <div class = "garden-card">
        <div class="garden-img">
          <%= link_to cl_image_tag garden.photos.first.key, height: 200, width: 300, crop: :fill, garden_path(garden) %>
        </div>
        <div class="garden-info p-2">
          <div class="garden-title">
            <p> <%= link_to garden.title, garden_path(garden) %></p>
          </div>
          <div class="garden-amenities">
            <% if garden.barbecue == true %>
              <i class="fas fa-hamburger"></i> Grill
              <br>
            <% end %>
            <% if garden.green_area == true %>
              <i class="fas fa-seedling"></i> Green Area
              <br>
            <% end %>
            <% if garden.pool == true %>
              <i class="fas fa-swimming-pool"></i> Pool
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class = "map-container py-1">
  </div>
</div>
