<h1>Gardens#index</h1>
<div class = "container main-container">
    <div class = "card-container">
      <div class = "row">
          <div class = "garden-card">
            <div class="garden-img">
              <img src="https://www.zawadzkilandscaping.com/wp-content/uploads/2014/09/Pool-in-Garden-Design.jpg" alt="#" width= "300" height="200">
            </div>
            <div class="garden-info">This is the info</div>
          </div>
        </div>
        <div class="row">
          <div class = "garden-card">
            <div class="garden-img">
              <img src="https://thumbnails.trvl-media.com/1TcA3xfmZOvFrWHFoh1SzVyqq00=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/18000000/17270000/17265000/17264911/87411aaf_z.jpg" alt="#" width= "300" height="200">
            </div>
            <div class="garden-info">This is the info</div>
          </div>
      </div>
    </div>

    <div class = "map-container">
    </div>
</div>
