.btn.btn-success {
  border-radius: 6px;
  justify-content: center;
  padding: 5px 15px;
  color: white;
  background-color: $dark-green;
  border: none;
  opacity: 0.92;
  margin-bottom: 16px;
}

.btn.btn-success:hover {
  opacity: 1;
}

.btn.btn-success.btn-search-form {
  margin: 0;
  margin-left: 3px;
  margin-bottom: 3px;
 }

.btn {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: $green;
}

.btn.btn-warning {
  padding: 10px 20px;
}

.button {
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 16px;
}

.background-orange {
  background-color: $light-orange;
  color: white;
  margin-bottom: 0;
}

.background-orange:hover {
  background-color: $orange;
  color: white;
  margin-bottom: 0;
}

.background-green {
  background-color: $dark-green;
  opacity: 0.8;
  color: white;
  margin-bottom: 0;
}

.background-green:hover {
  background-color: $dark-green;
  opacity: 1;
  color: white;
  margin-bottom: 0;
}

