.btn.btn-success {
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: $dark-green;
  border: none;
  opacity: 0.92;
}

.btn.btn-success:hover {
  opacity: 1;
}
