.form-grid {
  margin-top: 24px;
}

.form-control {
}

.creation-form {
}

.form-image {
  height: 110vh;
}

.form-home {
width: 40%;
border-radius: .25rem;
height: calc(2.25rem + 4px);
padding: 5px 10px;
margin-right: 5px;
}

.form-control.index-search {
border-radius: .25rem;
padding: 5px 10px;
}

.form-check-label.search-checkbox {
font-color: #535353;
font-weight: 300;
margin-left: 5px;

}
