.form-grid {
  margin-top: 24px;
}

.form-control {
}

.creation-form {
}

.form-image {
  height: 110vh;
}

.form-home {
width: 40%;
border-radius: .25rem;
height: calc(2.25rem + 4px);
padding: 5px 10px;
margin-right: 5px;
}
