body {
  background-color: white;
  font-family:'Baloo Chettan 2', cursive;
}

h2 {
  font-size: 24px;
}

.fat-green {
  color: $garden-green;
  font-weight: bold;
  transition: opacity 0.2s;

  &:hover {
    color: $dark-green;
  }
}

a {
  text-decoration: none;
  margin: 0px;
}

a:hover {
  text-decoration: none;
}


.smaller-text {
  font-size: 16px;
}

