body {
  background-color: white;
  font-family:'Open Sans';
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  color: $gray;
}

.fat-green {
  color: $garden-green;
  font-weight: bold;
  transition: opacity 0.2s;

  &:hover {
    color: $dark-green;
  }
}

.fat {
  font-weight: bold;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  margin: 0px;
}

a:hover {
  text-decoration: none;
}


.smaller-text {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
  font-size: 14px;
}

.middle-gray {
  color: #535353;
  font-weight: 300;
}
