.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #DEE2E6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-path a {
  margin: 0px;
}
